div {
  text-align: center;
  border: 2px solid;
  border-spacing: 0px;
  text-align: center;
  width: 500px;
  margin: 0 auto;

  transform-style: preserve-3d;
  transform: perspective(700px);
  left: calc(50vw - 50px);
  top: calc(30vh - 50px);
  transition: 0.3s;
}
div:hover {
  transition: all 1s ease;
  /* transform: rotateX(360deg) scale(1.3); */
  transform: perspective(700px) rotate3d(-10, 10, 0, 360deg);
}
.rankchart {
  width: 100%;
  border-spacing: 0px;
}

.rankchart th,
td {
  border: 0.5px solid lightgrey;
}

.title {
  text-align: center;
  font-weight: 700;
}
.bottom {
  background-color: gray;
  color: white;
}
.globalban {
  text-align: center;
  border: 2px solid;
  border-spacing: 0px;
}

.globalban td {
  border: 1px solid;
}
.team {
  color: blue;
  cursor: pointer;
}
