table {
  text-align: center;
  border: 2px solid;
  border-spacing: 0px;
  text-align: center;
  width: 500px;
  margin: 0 auto;
}
tr td {
  height: 100px;
  border: 0.5px solid;
  border-spacing: 0px;
}
