/*
1.태그에 직접 연결하거나
2. class에 연결하거나
3. id에 연결
----기본 문법----
(태그,.class,#id){
    style들 정의
}
*/

div {
  /* height: 100px; */
  width: 100px;
  background-color: skyblue;
}

a {
  text-decoration: none;
}

/* id로 쓰는 방식은 지양하자 */
#box {
  width: 200px;
  min-height: 100px;
}

/* 일반적으로 클래스를 이용해 스타일을 잡자 */
.box {
  /* em:폰트 1글자의 크기 rem:시스템 폰트 글자 크기*/
  width: 100rem;
  min-height: 10vh;
}
.box .img img {
  /* em:폰트 1글자의 크기 rem:시스템 폰트 글자 크기*/
  width: 100rem;
  min-height: 10vh;
}
